:root {
  /* Fonts */
  --font-regular: 'InterRegular', sans-serif;
  --font-medium: 'InterMedium', sans-serif;
  --font-semibold: 'InterSemibold', sans-serif;

  /* Breakpoints */
  --mobile: 320px;
  --mobile-adaptive: 375px;
  --tablet: 768px;
  --desktop: 1440px;

  /* Colors */
  --red: #e44848;
  --red-accent: #d84343;
  --white: #ffffff;
  --yellow: #ffc531;
  --dark-blue: #101828;
  --text-gray: #475467;
  --text-gray-a: #4754677f;
  --light-gray: #f7f7f7;
  --light-gray-accent: #f2f4f7;
}
